<footer>
    <div class="container d-md-flex">
        <i class="bear-icon d-none d-lg-block"></i>
        <small>
            © 2021 manual-skeleton
        </small>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li>
                <a href="https://github.com/koriym/manual-skeleton">Github</a>
            </li>
        </ul>
    </div>
</footer>
<script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/generate-table-of-contents/index.min.js"></script>
<script>
    var toc = generateTableOfContents(document.getElementById('article'));
    var sideBarRight = $('.side-bar-right');
    sideBarRight.append(toc);

    var scrollOffset = $('body').attr('data-offset');
    var articlePaddingTop = $('article').css('padding-top').replace('px', '');
    sideBarRight.find('a').on('click', function (e) {
        e.preventDefault();
        var targetId = $(this).attr('href');
        var targetPositionTop = $(targetId).offset().top - scrollOffset - articlePaddingTop;
        window.scrollTo(0, targetPositionTop)
    });
</script>
</body>
</html>