<nav class="navbar navbar-expand-md navbar-light">
    <div class="navigation-header">
        <div class="ml-auto d-sm-block d-md-none">
            <ul class="navbar-nav language-list">
                <li>
                    <a class="{% if page.layout == 'docs-en' %}active{% endif %}" href="{{ page.permalink | replace: '/ja/', '/en/' }}">En</a>
                </li>
                <li>
                    <a class="{% if page.layout == 'docs-ja' %}active{% endif %}" href="{{ page.permalink | replace: '/en/', '/ja/' }}">Ja</a>
                </li>
            </ul>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/installation.html' %}active{% endif %}" href="/manuals/1.0/ja/installation.html">インストール</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/index.html' %}active{% endif %}" href="/manuals/1.0/ja/index.html">概要</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/motivation.html' %}active{% endif %}" href="/manuals/1.0/ja/motivation.html">モチベーション</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/getting_started.html' %}active{% endif %}" href="/manuals/1.0/ja/getting_started.html">はじめに</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/mental_model.html' %}active{% endif %}" href="/manuals/1.0/ja/mental_model.html">メンタルモデル</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/scopes.html' %}active{% endif %}" href="/manuals/1.0/ja/scopes.html">スコープ</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/bindings.html' %}active{% endif %}" href="/manuals/1.0/ja/bindings.html">束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/linked_bindings.html' %}active{% endif %}" href="/manuals/1.0/ja/linked_bindings.html">・リンク束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/binding_attributes.html' %}active{% endif %}" href="/manuals/1.0/ja/binding_attributes.html">・アトリビュート束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/instance_bindings.html' %}active{% endif %}" href="/manuals/1.0/ja/instance_bindings.html">・インスタンス束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/provider_bindings.html' %}active{% endif %}" href="/manuals/1.0/ja/provider_bindings.html">・プロバイダー束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/untargeted_bindings.html' %}active{% endif %}" href="/manuals/1.0/ja/untargeted_bindings.html">・アンターゲット束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/constructor_bindings.html' %}active{% endif %}" href="/manuals/1.0/ja/constructor_bindings.html">・コンストラクター束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/builtin_bindings.html' %}active{% endif %}" href="/manuals/1.0/ja/builtin_bindings.html">・ビルトイン束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/multibindings.html' %}active{% endif %}" href="/manuals/1.0/ja/multibindings.html">・マルチ束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/contextual_bindings.html' %}active{% endif %}" href="/manuals/1.0/ja/contextual_bindings.html">・コンテキスト束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/null_object_binding.html' %}active{% endif %}" href="/manuals/1.0/ja/null_object_binding.html">・Null束縛</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/injections.html' %}active{% endif %}" href="/manuals/1.0/ja/injections.html">注入</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/injecting_providers.html' %}active{% endif %}" href="/manuals/1.0/ja/injecting_providers.html">・プロバイダ注入</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/object_life_cycle.html' %}active{% endif %}" href="/manuals/1.0/ja/object_life_cycle.html">ライフサイクル</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/aop.html' %}active{% endif %}" href="/manuals/1.0/ja/aop.html">AOP</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/best_practices.html' %}active{% endif %}" href="/manuals/1.0/ja/best_practices.html">ベストプラクティス</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/grapher.html' %}active{% endif %}" href="/manuals/1.0/ja/grapher.html">グラフ化</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/integration.html' %}active{% endif %}" href="/manuals/1.0/ja/integration.html">インテグレーション</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/performance_boost.html' %}active{% endif %}" href="/manuals/1.0/ja/performance_boost.html">パフォーマンス</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/backward_compatibility.html' %}active{% endif %}" href="/manuals/1.0/ja/backward_compatibility.html">後方互換性</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/tutorial1.html' %}active{% endif %}" href="/manuals/1.0/ja/tutorial1.html">チュートリアル</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/ai-assistant.html' %}active{% endif %}" href="/manuals/1.0/ja/ai-assistant.html">AIアシスタント</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/ja/1page.html' %}active{% endif %}" href="/manuals/1.0/ja/1page.html">1 Page</a></li>
        </ul>
    </div>
</nav>
