<nav class="navbar navbar-expand-md navbar-light">
    <div class="navigation-header">
        <div class="ml-auto d-sm-block d-md-none">
            <ul class="navbar-nav language-list">
                <li>
                    <a class="{% if page.layout == 'docs-en' %}active{% endif %}" href="{{ page.permalink | replace: '/ja/', '/en/' }}">En</a>
                </li>
                <li>
                    <a class="{% if page.layout == 'docs-ja' %}active{% endif %}" href="{{ page.permalink | replace: '/en/', '/ja/' }}">Ja</a>
                </li>
            </ul>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/installation.html' %}active{% endif %}" href="/manuals/1.0/en/installation.html">Installation</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/index.html' %}active{% endif %}" href="/manuals/1.0/en/index.html">Overview</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/motivation.html' %}active{% endif %}" href="/manuals/1.0/en/motivation.html">Motivation</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/getting-started.html' %}active{% endif %}" href="/manuals/1.0/en/getting-started.html">Getting Started</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/mental-model.html' %}active{% endif %}" href="/manuals/1.0/en/mental-model.html">Mental Model</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/scopes.html' %}active{% endif %}" href="/manuals/1.0/en/scopes.html">Scopes</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/bindings.html' %}active{% endif %}" href="/manuals/1.0/en/bindings.html">Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/linked-bindings.html' %}active{% endif %}" href="/manuals/1.0/en/linked-bindings.html">・Linked Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/binding-attributes.html' %}active{% endif %}" href="/manuals/1.0/en/binding-attributes.html">・Binding Attributes</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/instance-bindings.html' %}active{% endif %}" href="/manuals/1.0/en/instance-bindings.html">・Instance Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/provider-bindings.html' %}active{% endif %}" href="/manuals/1.0/en/provider-bindings.html">・Provider Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/untargeted-bindings.html' %}active{% endif %}" href="/manuals/1.0/en/untargeted-bindings.html">・Untargeted Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/constructor-bindings.html' %}active{% endif %}" href="/manuals/1.0/en/constructor-bindings.html">・Constructor Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/builtin-bindings.html' %}active{% endif %}" href="/manuals/1.0/en/builtin-bindings.html">・Built-in Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/multibindings.html' %}active{% endif %}" href="/manuals/1.0/en/multibindings.html">・MultiBindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/contextual-bindings.html' %}active{% endif %}" href="/manuals/1.0/en/contextual-bindings.html">・Contextual Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/null-object-binding.html' %}active{% endif %}" href="/manuals/1.0/en/null-object-binding.html">・Null Object Bindings</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/injections.html' %}active{% endif %}" href="/manuals/1.0/en/injections.html">Injections</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/injecting-providers.html' %}active{% endif %}" href="/manuals/1.0/en/injecting-providers.html">・Injecting Providers</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/object-lifecycle.html' %}active{% endif %}" href="/manuals/1.0/en/object-lifecycle.html">Object Life Cycle</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/aop.html' %}active{% endif %}" href="/manuals/1.0/en/aop.html">AOP</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/best-practices.html' %}active{% endif %}" href="/manuals/1.0/en/best-practices.html">Best Practices</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/grapher.html' %}active{% endif %}" href="/manuals/1.0/en/grapher.html">Graphing Applications</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/integration.html' %}active{% endif %}" href="/manuals/1.0/en/integration.html">Integration</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/performance-boost.html' %}active{% endif %}" href="/manuals/1.0/en/performance-boost.html">Performance</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/backward-compatibility.html' %}active{% endif %}" href="/manuals/1.0/en/backward-compatibility.html">Compatibility</a></li>
            <li class="nav-item"><a class="nav-link {% if page.permalink == '/manuals/1.0/en/ai-assistant.html' %}active{% endif %}" href="/manuals/1.0/en/ai-assistant.html">AI Assistant</a></li>
        </ul>
    </div>
</nav>
